@using bstate.tutorial.Features.Counter
@inherits bstate.core.Components.BStateComponent

<p role="status">Current count: @State.Counter</p>

<button class="btn btn-primary" @onclick="Increment">Click me</button>

@code {
    CounterState State => this.UseState<CounterState>();
    Task Increment() => this.State.Add();
}